@charset "utf-8";
/* This is CSS for centered_content */

@media handheld and screen(orientation:portrait;) and (max-device-width:420px; max-width:420px;)
{

#container #wrapper #centered_content table {
	background-color: #03C;
	float: left; 
	width: 60%;
	margin-left: 10%;
}

}

@media handheld screen(orientation:landscape;) and (min-device-width:421px; min-width:421px;)
{



}