@charset "utf-8";
/* CSS for join_us.php widescreen view */

#container  {
}

#container #wrapper #centered_content {
	border: solid;
	border-color: #EEBC1D;
	border-radius: 3%; /* or change to 15% for a different effect*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 50%;
	height: 50%;
	padding: 5%;
}

#container #wrapper section hr {
	color: #EEBC1D;
}

#container #wrapper #centered_content table{
	margin-left: auto;
	margin-right: auto;
}
