@charset "utf-8";
/* CSS Document for index.php in widescreens	*/

#container div #main_content {
	float:left;
	width: 60%;
}

#container div #main_content { 
	padding-left: 5%;
	padding-right: 5%;
}

#container div #main_content table  {
	width: 80%;
	height: 20%;
	padding-left: 4%;
	padding-right: 4%;
}

#container div #banner_column table {
	padding-left: 1%;
	padding-right: 2%;
}

#container div #banner_column table tr td a img {
	width: 95%;
	height: 15%;
	padding-bottom: 1%;
}